<script src="/js/sidenav.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download Our app for android & ios</p>
        <button type="button" class="btn btn-dark btn-lg Download-buttons"><i class="fa fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg Download-buttons "><i class="fa fa-google-play"></i> Download</button>
      </div>
      <div class="footer-col-2">
        <img class="cropped1" src="https://previews.123rf.com/images/vectorgalaxy/vectorgalaxy1804/vectorgalaxy180401185/98897905-eshop-logo-isolated-on-white-background-for-your-web-mobile-and-app-design.jpg" alt="img">
        <p>An exciting place for the whole family to shop.</p>
      </div>
      <div class="footer-col-3">
        <h3>Usefull Links</h3>
        <ul>
          <a class="nav-link" href="/#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="/products">Products</a>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Connect us on</h3>
        <ul>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.facebook.com">Facecook</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

</body>
</html>
