body
{
    background-color: #dcedff;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.navbar
{
    text-transform: uppercase;
    background-color: #343f3e !important;    
}
.navbar-nav
{

    width: 30%;
    display: flex;
    justify-content: space-around; 
}
.navbar .nav-link,.navbar-brand
{
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    color: rgba(220, 237, 255,0.5);
}
.navbar .nav-link:hover
{
    color: rgba(220, 237, 255,1);
}
.navbar .navbar-brand
{
    color: rgba(220, 237, 255,1) !important;
    font-weight: 700;
    font-size: 2rem;
}

.main-div
{
   height: 90.7%;
   background-image: url(https://images.unsplash.com/photo-1524289286702-f07229da36f5);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.overlay-div
{
    position: absolute;
    height: 90.7%;
    background-color: rgba(80, 90, 91,0.5);
    z-index: 2;
}
.info-div
{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-div h1.welcome-text
{
    font-weight: 700;
    color: #dcedff;
    font-size: 3rem;
}
.info-div h2.tagline
{
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #dcedff;
    text-transform: uppercase;
    font-weight: 700;
}
.buttons-div
{
    margin-top: 3rem;
}
.buttons-div button
{
    transition: 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
    outline: none;
    border: none;
    border-bottom: 5px solid rgba(220, 237, 255,0);
    filter: drop-shadow(2px 2px 10px  #343f3e);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color: #dcedff;
    color: #343f3e;
}
.buttons-div button:hover
{
    border-bottom: 5px solid #343f3e;
    border-radius: 20px;
}