body
{
    background-color: #dcedff;
    height: 100vh;
    font-family: 'Lato', sans-serif;

}

.container{
  width: 80vw;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: center;
}

.card{
  background-color: #94b0da ;
  width: 80%;
  height: 70%;
  border-radius: 8px;
  display: flex;

}
/* .card .images,
.card .infos{
  width: 50%
} */
.main-container
{
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form{
  width: 500px;
  background-color: #343f3e;
  padding: 20px;
  margin: 8% auto 0;
  text-align:center;
  color: #dcedff;
  border-radius: 20px;
  height: 55%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px  rgba(52, 63, 62,0.8));
}
.signup-form h1
{
    font-weight: 700;
}
.input input
{
    outline: none;
    border: none;
    border-bottom: 4px solid #343f3e;
    border-radius: 15px;
    width: 70%;
    margin: 0.8rem 0rem;
    padding: 0.2rem 0.5rem;
}
.navbar
{
    text-transform: uppercase;
    background-color: #343f3e !important;
}
.navbar-nav
{

    width: 30%;
    display: flex;
    justify-content: space-around;
}
.navbar .nav-link,.navbar-brand
{
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    color: rgba(220, 237, 255,0.5);
}
.navbar .nav-link:hover
{
    color: rgba(220, 237, 255,1);
}
.navbar .navbar-brand
{
    color: rgba(220, 237, 255,1) !important;
    font-weight: 700;
    font-size: 2rem;
}

.main-div
{
   height: 90.7%;
   background-image: url(https://images.unsplash.com/photo-1524289286702-f07229da36f5);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.overlay-div
{
    position: absolute;
    height: 90.7%;
    background-color: rgba(80, 90, 91,0.5);
    z-index: 2;
}
.info-div
{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-div h1.welcome-text
{
    font-weight: 700;
    color: #dcedff;
    font-size: 3rem;
}
.info-div h2.tagline
{
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #dcedff;
    text-transform: uppercase;
    font-weight: 700;
}
.buttons-div
{
    margin-top: 3rem;
}
.buttons-div button
{
    transition: 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
    outline: none;
    border: none;
    border-bottom: 5px solid rgba(220, 237, 255,0);
    filter: drop-shadow(0px 0px 5px  rgba(52, 63, 62,0.5));
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color: #dcedff;
    color: #343f3e;
}
.buttons-div button:hover
{
    border-bottom: 5px solid #343f3e;
    border-radius: 20px;
}
.product-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.category
{
    border-radius: 20px;
    background-color: #343f3e;
    color: #dcedff;
    min-height: 50px;
    max-width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 5px  rgba(52, 63, 62,0.5));
}
