<%- include('../../partials/header') %>
<form action="/products" method="POST">
  <div class="main-container container-fluid">
    <div class="signup-form container">
      <div class="row">
        <div class="col-lg-12"><h1>Create Product</h1></div>

        <div class="col-lg-12 input">
          <input
            name="title"
            placeholder="Title"
          />
        </div>
        <div class="col-lg-12 input">
          <input
            name="price"
            placeholder="price"
          />
        </div>
        <div class="col-lg-12 input">
          <input
            name="category"
            placeholder="category"
          />
        </div>
        <div class="col-lg-12 input">
          <input
            name="image"
            placeholder="Image Url"
          />
        </div>
        <div class="col-lg-12 input">
          <textarea name="description" placeholder="description"></textarea
          >
        </div>

        <div class="col-lg-12 buttons-div my-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 button my-0">
                <button type="submit">Create!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<%- include('../../partials/footer') %>
