<%- include('../partials/header') %>
<div class="container-fluid main-div px-0">
    <div class="container-fluid overlay-div mx-0"></div>
    <div class="container info-div text-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="welcome-text">WELCOME TO E-SHOP</h1>
            </div>
            <div class="col-lg-12">
                <h2 class="lead tagline">All the best for a whole lot less</h2>
            </div>
            <div class="col-lg-8 buttons-div">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 button"><button onclick="window.location.href ='/signin'">Sign-In</button></div>
                        <div class="col-lg-6 button"><button onclick="window.location.href ='/signup'">Sign-Up</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>