<%- include('../partials/header') %>
<div class="container">
    <ul>
        <% for(let product of allproducts) {%>
        <li><%= product.title %> </li> 
        <% } %>  
    </ul>
</div>
<%- include('../partials/footer') %>