<%- include('../partials/header') %>

<div class="signup-form ">
  <h1>Sign up</h1>
  <input type="Email" name="" value="" placeholder="Enter Your Email">
  <input type="password" name="" value="" placeholder="Enter Your password">
  <p><span><input type="checkbox" name="" value=""></span>I agree to the terms of services</p>
  <div class="col-lg-12 buttons-div">
      <div class="container-fluid">
          <div class="row">

              <div class="col-lg-12 button"><button>Sign-Up</button></div>
          </div>
</div>






<%- include('../partials/footer') %>
