<%- include('../partials/header') %>

<div class="main-container container-fluid">
<div class="signup-form container">


    <form id="form" action="/thank" onsubmit="return validation();" >
      <div class="row">
      <div class="col-lg-12"><h1>SIGN UP</h1></div>
      <div class="col-lg-12 input">
        <!-- <label for="email">Email</label> -->
        <input type="Email" name="Email" id="Email" type = "Email" value="" placeholder="Enter Your Email" >
        <br>
        <span id="useremail" class="text-danger font-weight-bold"></span>
      </div>
      <div class="col-lg-12 input">

        <!-- <label for="password">Password</label> -->
        <input type="password" name="password" id="password" type = "password" value="" placeholder="Enter Your Password" >
        <br>
        <span id="userpassword" class="text-danger font-weight-bold"></span>
      </div>

    <div class="col-lg-12 input">

      <!-- <label for="password">Re-Enter Password</label> -->
      <input type="password" name="cpassword" id="cpassword"  type = "password" value="" placeholder="Re-Enter Your Password">
      <br>
      <span id="confirmpass" class="text-danger font-weight-bold"></span>

    </div>

      <div class="col-lg-12"><p><span><input type="checkbox" name="" value="" required></span>I agree to the terms of services</p></div>
      <div class="col-lg-12 buttons-div my-0">
          <div class="container-fluid">
              <div class="row">

                  <div class="col-lg-12 button my-0 "><button>Sign-Up</button></div>
              </div>
          </div>
      </div>
      <div class="col-lg-12">

        <p>Already have an account? <a href="/signin" style="color:#dcedff;">Signin</a> </p>
      </div>
      </div>
    </form>

</div>
</div>




<script src="/js/form.js" charset="utf-8"></script>

<%- include('../partials/footer') %>
