<%- include('../partials/header') %>

<div class="main-container container-fluid">
<div class="signup-form container">


<h1>Thank you! for signing up with us.</h1>
<p>An OTP has been sent to your Email</p>
<p>Please click Verify over ther to verify you Email</p>
</div>
</div>

<%- include('../partials/footer') %>
