<%- include('../partials/header') %>

<div class="main-container container-fluid">
<div class="signup-form container">
<div class="row">
<div class="col-lg-12"><h1>Thank you! for signing up with us.</h1></div>
<div class="col-lg-12 my-4" style="height:4px;background-color:#dcedff"><hr></div>
<div class="col-lg-12"><p class="lead">An OTP has been sent to your Email</p></div>
<div class="col-lg-12 input"><input type="password" placeholder="OTP"></div>
<div class="col-lg-12"><div class="buttons">
<button class="btn-success">Verify</button>
</div></div>

</div>
</div>
</div>
<%- include('../partials/footer') %>
